{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class='card card-body'>
        <h1 class="display-1 text-center">Django App Crud</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, 
            natus, atque suscipit non quae odio aperiam unde iste perspiciatis 
            delectus exercitationem optio maxime incidunt praesentium ut in 
            quia temporibus facere!
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-success" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}